/******* Place CSS Below ********/
/** {
	padding: 0;
	margin: 0;
}*/

/*.page-wrapper {
	height: 100vh;	
}*/

/*.header {
	height: 20%;
	width: 100%;
	border: 2px solid black;
}*/

/*.sign-in {
	height: 15%;
	border: 2px solid black;
}*/

/*.title {
	border: 2px solid purple;
	height: 65%;
	display: flex;
	justify-content: center;
	align-items: center;
}*/

/*.content {
	height: 80vh;
	border: 2px solid gold;
	width: 100%;
}*/

/*.navigation {
	height: 20%;
	width: 100%;
	border: 2px solid black;
}*/

/* For log in page */

/*.log-in-content {
	height: 80vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.log-in-box {
	height: 25%;
	width: 30%;
	border: 2px dashed black;
	border-radius: 7%;
}

.log-in-box-header {
	text-align: center; 
	height: 20%; 
	width: 100%
}

.log-in-box-content {
	height: 80%;
	width: 80%;
	margin: 0 auto;
}

.log-in-button {
	margin: 0 40% 0 40%;
}*/

/******* Place CSS Below ********/
@font-face {
	font-family: audrey;
	src: url(../fonts/Audrey-Normal.otf);
}

@font-face {
	font-family: ikaros;
	src: url(../fonts/Ikaros-Regular.otf);
}

.page-wrapper {
	height: 130vh;
	padding-left: 0px;
}

.container-fluid {
    padding-left: 0px;
   	background-color: black;
   	height: 100%;
}

.header {
	width: 100%;
	height: 18%;
	opacity: .8;
	position: relative;
}

p #brand {
	opacity: 1;
}

.login {
	background-color: black;
	padding-left: 79.5%;
}

.login a{
	color:gray;
	display: inline;
	padding-left: 10px;
}

.login a:hover {
	color: white;
}

.title {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: ikaros;
	font-size: 100px;
	background-color: black;
	color: white;
	padding-top: 10px;
}

.navigation {
	height: 30px;
	width: 100%;
	text-align: center;
	background-color: black;
	color: white;
	border-top: 1px solid gray;
	font-family: audrey;
	padding-top: 7px;
}

.navigation a{
	color: white;
}

.navigation a:hover {
	color:red;
	text-decoration: none;
}

#homepicture {
	position: absolute;
	width: 100%;
	overflow: hidden;
	height: 500px;
}

.content {
	margin-top: 375px;
	margin-bottom: 50px;
	margin-right: 15px;
	height: 820px;
	width: 100%;
	padding-bottom: 40px;
	padding-left: 115px;
	padding-right: 115px;
	position: inline;
}

.title a{
	color: white;
}

.title a:hover{
	text-decoration: none;
	color:white;
}


#row1 {
	border-style: solid;
	border-color: green;
}

#box1 {
	height: 400px;
	width: 540px;
	border-style: solid;
	border-color: red;
	float: left;
}

#box2 {
	height: 200px;
	width: 500px;
	border-style: solid;
	border-color: orange;
	float: right;
}

#box3 {
	height: 200px;
	width: 500px;
	border-style: solid;
	border-color: blue;
	float: right;
}

#box4 {
	height: 400px;
	width: 500px;
	border-style: solid;
	border-color: purple;
	float: right;
}

#box5 {
	height: 400px;
	width: 270px;
	border-style: solid;
	border-color: green;
	float: left;
}

#box6 {
	height: 400px;
	width: 270px;
	border-style: solid;
	border-color: yellow;
	float: left;
}

.footer {
	background-color: white;
	height: 300px;
}



