/******* Place CSS Below ********/
@font-face {
	font-family: audrey;
	src: url(../fonts/Audrey-Normal.otf);
}

@font-face {
	font-family: ikaros;
	src: url(../fonts/Ikaros-Regular.otf);
}

.page-wrapper {
	height: 130vh;
	padding-left: 0px;
}

.container-fluid {
    padding-left: 0px;
   	background-color: black;
   	height: 100%;
}

.header {
	width: 100%;
	height: 18%;
	opacity: .8;
	position: relative;
}

p #brand {
	opacity: 1;
}

.login {
	background-color: black;
	padding-left: 79.5%;
}

.login a{
	color:gray;
	display: inline;
	padding-left: 10px;
}

.login a:hover {
	color: white;
}

.title {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: ikaros;
	font-size: 100px;
	background-color: black;
	color: white;
	padding-top: 10px;
}

.navigation {
	height: 30px;
	width: 100%;
	text-align: center;
	background-color: black;
	color: white;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	font-family: audrey;
	padding-top: 7px;
}

.navigation a{
	color: white;
}

.navigation a:hover {
	color:red;
	text-decoration: none;
}

#homepicture {
	position: absolute;
	width: 100%;
	overflow: hidden;
	height: 500px;
}

.content {
	margin-top: 375px;
	margin-bottom: 50px;
	margin-right: 15px;
	height: 820px;
	width: 100%;
	padding-bottom: 40px;
	padding-left: 115px;
	padding-right: 115px;
	position: inline;
}

.title a{
	color: white;
}

.title a:hover{
	text-decoration: none;
	color:white;
}


#row1 {
	border-style: solid;
	border-color: green;
}

#box1 {
	height: 400px;
	width: 540px;
	border-style: solid;
	border-color: red;
	float: left;
}

#box2 {
	height: 200px;
	width: 500px;
	border-style: solid;
	border-color: orange;
	float: right;
}

#box3 {
	height: 200px;
	width: 500px;
	border-style: solid;
	border-color: blue;
	float: right;
}

#box4 {
	height: 400px;
	width: 500px;
	border-style: solid;
	border-color: purple;
	float: right;
}

#box5 {
	height: 400px;
	width: 270px;
	border-style: solid;
	border-color: green;
	float: left;
}

#box6 {
	height: 400px;
	width: 270px;
	border-style: solid;
	border-color: yellow;
	float: left;
}

.footer {
	background-color: white;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Styling for dropdown */

.dropdown-content {
	display: none;
	min-width: 160px;
	overflow: auto;
}

.dropdown-content a {

    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    font-family: audrey
}

.dropdown-content a:hover {
	background-color: #939393;
}

.dropdown:hover .dropdown-content {
	display: block;
	background-color: #f1f1f1;
	width: 100%;
	position: absolute;

}

/* ****************** */
.log-in-content {
	width: 100%;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: black;
	color: white;
	padding-top: 10px;
  	/*opacity: .8;*/
}

.log-in-button{
	color: black;
	//opacity: 1;
}

.log-in-box {
	margin-bottom: 30px;
}

.log-in-box-header {
	padding-bottom: 20px;
}

/*.log-in-inputs {
	margin-bottom: 2px;
}*/

.log-in-box-content, .log-in-box-header{
	color: white;
	font-size: 20px;
}

.log-in-box input {
	color: black;
	width: 200px;

}
label {
    display: inline-block;
    width: 100px;
}

span.error{
	color: rgb(255,128,0);
	font-weight: bold;
}
span.success{
	color: rgb(45,136,45);
	font-weight: bold;
}

/*Items page*/

.itemscontent{
	/*margin-bottom: 50px;*/
	margin-right: 15px;
	height: 820px;
	width: 100%;
	padding-bottom: 40px;
	padding-left: 150px;
	padding-right: 115px;
	background-color: black;
}

.itemvendor {
	margin-top: 0px;
	padding-bottom: 70px;
}

.itemvendor img{
	border-radius: 50%;
	height: 130px;
	width: 130px;
	border-style: solid;
	border-color: white;
	float: left;
}

.itemvendor h1 {
	color: white;
	padding-left: 150px;
	padding-top: 15px;
	margin-bottom: 0px;
}

.itemvendor h2 {
	color: white;
	padding-left: 150px;
	margin-top: 0px;
}

.itemimg {
	border-style: solid;
	height: 600px;
	width: 450px;
	}

.itemdesc {
	background-color: white;
	opacity: .8;
	height: 500px;
	width: 500px;
	float:right;
	font-family: audrey;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#addtocart {
	margin-left: 50px;
}

.button {
	width: 400px;
	transition-duration: .2s;
}

.button:hover {
	background-color: red;
}

.categorycontent{
	padding-top: 20px;
	margin-bottom: 50px;
	margin-right: 15px;
	height: 820px;
	width: 100%;
	padding-bottom: 40px;
	padding-left: 150px;
	padding-right: 115px;
}

#sort {
	color: white;
	text-align: right;
	border-bottom: 1px solid white;
}

#griddisplay {
	border-style: solid;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.gallery a{
	border-style: solid;
	width: 280px;
	height:400px;
	margin-top: 10px;
	margin-left: 30px;
	margin-right:30px;

	text-align: center;
}

.gallery a:hover{
	text-decoration: none;
}

#sort {
	width: 75%;
	color: white;
	text-align: right;
	margin-right: 0px;
	border-bottom: 1px solid white;
	margin-left: 160px;
	margin-bottom: 30px;
}


/* For artisans page */
.content-artisans {
	display: flex;
	width: 100%;
	height: 820px;
	border: 2px solid gold;
	flex-direction: column;
	align-items: center;
}

.vendor {
	display: flex;
	flex-direction: row;
	height: 33%;
	width: 80%;
	border-bottom: 1px solid white;
}

.vendor-image {
	height: 60%;
	width: 60%;
	border: 1px solid white;
}

.white {
	color: white;
}

.center {
	text-align: center
}

.edit-description{
	color: black;
	width: 300px;
	height: 200;
}
h3{
	text-align: center;
}


