/******* Place CSS Below ********/
@font-face {
	font-family: audrey;
	src: url(../fonts/Audrey-Normal.otf);
}

@font-face {
	font-family: ikaros;
	src: url(../fonts/Ikaros-Regular.otf);
}

.page-wrapper {
	height: 130vh;
	padding-left: 0px;
}

.container-fluid {
    padding-left: 0px;
   	background-color: black;
   	height: 100%;
}

.header {
	width: 100%;
	height: 18%;
	opacity: .8;
	position: relative;
}

p #brand {
	opacity: 1;
}

.login {
	background-color: black;
	padding-left: 79.5%;
}

.login a{
	color:gray;
	display: inline;
	padding-left: 10px;
}

.login a:hover {
	color: white;
}

.title {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: ikaros;
	font-size: 100px;
	background-color: black;
	color: white;
	padding-top: 10px;
}

.navigation {
	height: 30px;
	width: 100%;
	text-align: center;
	background-color: black;
	color: white;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	font-family: audrey;
	padding-top: 7px;
}

.navigation a{
	color: white;
}

.navigation a:hover {
	color:red;
	text-decoration: none;
}

#homepicture {
	position: absolute;
	width: 100%;
	overflow: hidden;
	height: 500px;
}

.content {
	margin-top: 375px;
	margin-bottom: 50px;
	margin-right: 15px;
	height: 820px;
	width: 100%;
	padding-bottom: 40px;
	padding-left: 115px;
	padding-right: 115px;
	position: inline;
}

.title a{
	color: white;
}

.title a:hover{
	text-decoration: none;
	color:white;
}


#row1 {
	border-style: solid;
	border-color: green;
}

#box1 {
	height: 400px;
	width: 540px;
/*	border-style: solid;
	border-color: red;*/
	float: left;
	position: relative;
}

.promopic{
	width: 100%;
	height: 100%;
}

#box2 {
	height: 200px;
	width: 506px;
/*	border-style: solid;
	border-color: orange;*/
	float: right;
}

#box3 {
	height: 200px;
	width: 506px;
/*	border-style: solid;
	border-color: blue;*/
	float: right;
}

#box4 {
	height: 400px;
	width: 270px;
/*	border-style: solid;
	border-color: purple;*/
	float: left;
}

#box5 {
	height: 400px;
	width: 270px;
/*	border-style: solid;
	border-color: green;*/
	float: left;
}

#box6 {
	height: 400px;
	width: 500px;
/*	border-style: solid;
	border-color: yellow;*/
	float: left;
}

.footer {
	background-color: #e8ebd1;
	height: 300px;
	text-align: center;
	border
/*	display: flex;*/
/*	justify-content: center;*/

/*	align-items: center;*/
}

/* Styling for dropdown */

.dropdown-content {
	display: none;
	min-width: 160px;
	overflow: auto;
}

.dropdown-content a {

    color: black;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    font-family: audrey
}

.dropdown-content a:hover {
	background-color: #939393;
}

.dropdown:hover .dropdown-content {
	display: block;
	background-color: #f1f1f1;
	width: 100%;
	position: absolute;

}

/* ****************** */
.log-in-content {
	width: 100%;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: black;
	color: white;
	padding-top: 10px;
  	/*opacity: .8;*/
}

.log-in-button{
	color: black;
	//opacity: 1;
}

.log-in-box {
	margin-bottom: 30px;
}

.log-in-box-header {
	padding-bottom: 20px;
}

/*.log-in-inputs {
	margin-bottom: 2px;
}*/

.log-in-box-content, .log-in-box-header{
	color: white;
	font-size: 20px;
}

.log-in-box input {
	color: black;
	width: 200px;

}
label {
    display: inline-block;
    width: 100px;
}

span.error{
	color: rgb(255,128,0);
	font-weight: bold;
}
span.success{
	color: rgb(45,136,45);
	font-weight: bold;
}

/*Items page*/

.itemscontent{
	/*margin-bottom: 50px;*/
	margin-right: 15px;
	height: 820px;
	width: 100%;
	padding-bottom: 40px;
	padding-left: 150px;
	padding-right: 115px;
	background-color: black;
}

.itemvendor {
	margin-top: 0px;
	padding-bottom: 70px;
}

.itemvendor img{
	border-radius: 50%;
	height: 130px;
	width: 130px;
	border-style: solid;
	border-color: white;
	float: left;
}

.itemvendor h1 {
	color: white;
	padding-left: 150px;
	padding-top: 15px;
	margin-bottom: 0px;
}

.itemvendor h2 {
	color: white;
	padding-left: 150px;
	margin-top: 0px;
}

.itemimg {
	border-style: solid;
	height: 600px;
	width: 450px;
	}

.itemdesc {
	background-color: white;
	opacity: .8;
	height: 500px;
	width: 500px;
	float:right;
	font-family: audrey;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#addtocart {
	margin-left: 50px;
}

.button {
	width: 400px;
	transition-duration: .2s;
}

.button:hover {
	background-color: red;
}

.categorycontent{
	padding-top: 20px;
	margin-bottom: 50px;
	margin-right: 15px;
	height: 820px;
	width: 100%;
	padding-bottom: 40px;
	padding-left: 150px;
	padding-right: 115px;
}

#sort {
	color: white;
	text-align: right
	border-bottom: 1px solid white;
}

#griddisplay {
	border-style: solid;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.gallery img{
	width:100%;
	height: 320px;
}

.gallery h1{
	font-family: audrey;
	margin-top: 0px;
	padding-top: 5px;
/*	padding-left: 5px;*/
	padding-right: 5px;
	font-size: 16px;
	margin-bottom: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: white;
	text-align: left;

}

.gallery h2{
	font-family: audrey;
	font-size: 13px;
	display: inline;
	color:white;

}

.gallery a{
	width: 280px;
	height:400px;
	margin-top: 10px;
	margin-left: 30px;
	margin-right:30px;
	text-align: center;
}

.gallery a:hover{
	text-decoration: none;
	opacity: .8;
}

.gridinfo {
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	text-align: left;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

#sort {
	width: 75%;
	color: white;
	text-align: right;
	margin-right: 0px;
	border-bottom: 1px solid white;
	margin-left: 160px;
	margin-bottom: 30px;
}

/* For artisans page */
.content-artisans {
	display: flex;
	width: 100%;
	height: 820px;
	border: 2px solid gold;
	flex-direction: column;
	align-items: center;
}

.vendor {
	display: flex;
	flex-direction: row;
	height: 33%;
	width: 80%;
	border-bottom: 1px solid white;
}

.vendor-edit {
	display: flex;
	flex-direction: row;
	height: 33%;
	width: 80%;
}

.vendor-info {
	padding-left: 20px;
}

.vendor-image {
	height: 60%;
	width: 60%;
	border: 1px solid white;
}

.white {
	color: white;
}

.center {
	text-align: center
}



/* Orders Page */
.content-orders {
	display: flex;
	width: 100%;
	height: 820px;
/*	border: 2px solid gold;*/
	flex-direction: column;
	align-items: center;
}

.order { /*div that surrounds one particular order */
	/*display: flex;*/
	border: 1px solid white;
	margin-bottom: 30px;
}

.order-details {
	/*display: flex;*/
}

.order-info {
	color: green;
}

.table-borders {
	border: 1px solid white;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/* ********* */

.edit-description{
	color: black;
	width: 500px;
	height: 100px;
}
/*h3{
	text-align: center;
}*/

.textbig{
	font-size: 20px;
}

.new-item-body input {
	color: black;

}
.new-item-body label {
	width: 250px;

}
.new-item-body select {
	width: 200px;

}
.new-item-body{
	display: flex;
	width: 100%;
	height: 820px;
/*	border: 2px solid gold;*/
	flex-direction: column;
	align-items: center;
}

.iteminputs {
	color: white;
	margin-bottom: 10px;
}

#contact {
	display: inline-block;
	width: 30%;

}

#contact p{
	color:gray;
}

#about {
	display: inline-block;
	width: 30%;
}

#about p {
	opacity: .8;
}

#social{
	display: inline-block;
	width: 30%;
}

ul {
	list-style-type: none;
	text-align: center;
}

#social a{
	color: gray;
}

#copyright{
	text-align: center;
	color: gray;
}

.promo{
	position: absolute; 
    background: black; 
    opacity: .7;
    width: 100%;
    height: 60px;
    font-size: 2em;
    color: white;
}

.gallery .catprice {
	color: red;
	float:right;
}

/*bag.php*/

.bagcontent{
	background-color: black;
	height: 550px;
/*	height: 200px;*/
}

.selection {
	margin-top: 100px;
	margin-left: 50px;
}
.selection h1{
	font-size: 15px;
	color: white;
	font-family: audrey;
	border-bottom: 1px solid white;
	width: 65%;
}

.cart {

	max-height: 400px;
	width:65%;
	margin-right: 30px;
/*	border-right: 2px solid white;*/
/*	margin-bottom: 50px;*/
	float:left;
/*	background-color: #e8ebd1;*/
/*	padding-right: 50px;*/
/*	margin-right: 80px;*/
}

.cart tr {
		text-align: center;
		color: gray;
		border-bottom: 1px solid;
}

.checkout {
	height: 200px;
	width: 25%;
	float: right;
	margin-right: 50px;
	background-color: #e8ebd1;
	font-family: audrey;
/*	text-align: right;*/
}

.checkout button {
	width: 320px;
	height: 50px;

}

.checkout button:hover{
	background-color: gray;
}

#breakdown {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid black;
}

#divider {
	border-right: 1px solid white;
	width:0;
	height: 400px;
	float: left;
	margin-right: 20px;
}

#total {
	padding-left: 15px;
}

